@use "src/styles" as style;
@include style.displaysize();

mat-sidenav {
  width: 12em;
}

mat-divider {
  margin-inline: 15px;
}

.item-text {
  margin-left: 15px;
  justify-self: center;
}

// Fixxed header and scrollable body

.fill {
  height: calc(
    100vh - (style.$flexHeaderHeight + style.$flexComponentHeaderHeight)
  );
}
