.background {
    background-image: url('../../../assets/components/login/login-background.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.logo-white {
    max-height: 134px;
    max-width: 134px;
}

.logo {
    height: 461px;
    width: 570px;
}

.p-card {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    width: 25vw;
}
